################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64/Debug
/nx2elf.vcxproj.user
/nx2elf
/x64/Release
/Debug-DLL
